<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="webBehavior">
                    <webHttp defaultOutgoingResponseFormat="Json"/>
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <mexHttpBinding>
                <binding name="MetaData"/>
            </mexHttpBinding>
        </bindings>
        <services>
            <service name="WcfServerWrapper.PaymentService">
                <endpoint address="http://localhost:3698" binding="basicHttpBinding" bindingConfiguration="" name="BasicBinding3698" contract="WcfContracts.IPaymentService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" name="MetaData" contract="IMetadataExchange"/>
                <endpoint address="http://localhost:3698/api" behaviorConfiguration="webBehavior" binding="webHttpBinding" bindingConfiguration="" name="webBindForAPI" contract="WcfContracts.IPaymentService"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:3698"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
