<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicBinding3698" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3698/" binding="basicHttpBinding"
                bindingConfiguration="BasicBinding3698" contract="PaymentServiceWcf.IPaymentService"
                name="BasicBinding3698" />
        </client>
    </system.serviceModel>
</configuration> 
